
/** Bootstrap more*/
form .input-error{
	 border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}


/** END: Bootstrap more*/

.gowrapper{
/*	width:960px;
	margin: 0 auto;*/
}
.wrap{
	clear: both;
}
.no-listing{
	text-align: center;
	border:1px solid #333;
	padding: 10px 0;
	clear: both;
}

.table-condensed td{vertical-align: middle;}
.tbl_list{}
.tbl_list tr .btn{display:none;}
.tbl_list tr:hover .btn{display:inline-block;}

/** form tasks */
.form_textarea,
#task-description{
	height: 140px;
}

/** task comments */
.task_info{}

.task_comments_box{ 
	border-bottom: 1px dotted #999;
	padding: 10px 0;
}
.task_comments_box:hover{background-color: #eee;}
.task_comments_box .comments_title{ font-weight: bold; }
.task_comments_box .comments_description{}

.form_add_comment{border-top: 1px dashed #999; padding:10px 0; margin-top:10px;}
.form_add_comment input[type="text"],
.form_add_comment textarea{
	width: 90%;
}

.border-left{
	
}

#footer .container{
	border-top: 1px solid #eee;
	padding: 10px 0;
	margin-top: 20px;
}

/***/

.icon-flag-brazil,
.icon-flag-brazil:hover{
	background: transparent url(../images/icons/icon-flag-brazil.png) center center no-repeat !important;
	width: 14px;
	height: 14px;
	display: inline-block !important;
}
.icon-flag-usa,
.icon-flag-usa:hover{
	background: transparent url(../images/icons/icon-flag-usa.png) center center no-repeat !important;
	width: 14px;
	height: 14px;
	display: inline-block !important;
}